<noscript><h2 style="color: #ff0000">
    Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable Javascript and reload this page!</h2>
</noscript>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-2">
            <form class="form-inline">
                <div class="form-group">
                    <button *ngIf="!isConnected" (click)="connect()" class="btn btn-success bt-sml" type="submit">Connect</button>
                    <button *ngIf="isConnected" (click)="disconnect()" class="btn btn-danger" type="submit">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <form class="form-inline">
                <div class="form-group" *ngIf="isConnected">
                    <label for="name">Message</label>
                    <input type="text" [(ngModel)]="message" class="form-control" name="message"> <br>
                </div>
                <button *ngIf="isConnected" (click)="sendMessage()" class="btn btn-success bt-sml" type="submit" [disabled]="!isConnected">Send</button>
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <ul>
            <li *ngFor="let message of messages">{{message}}</li>
        </ul>
    </div>
   
</div>