.fit-panel-width {
    width: 90vw;
}

.redbox{
    border: solid 1px red;
}

.bluebox{
    border: solid 1px blue;
}

.small-image {
    height: 20px; 
    width: 20px;
}

.small-text {
    font-size:smaller;
}

.cursor-pointer {
    cursor: pointer;
}