<!-- **************** MAIN MENU-BAR OPTIONS **************** -->

<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top">

  <div class="col-md-6">
      <ul class="navbar-nav">

      <li class="nav-item">
        <a routerLink="/org/projects" class="nav-link" routerLinkActive="active">Projects</a>
      </li>

      <li class="nav-item">
        <a routerLink="/org/tasks" class="nav-link" routerLinkActive="active">Tasks</a>
      </li>

      <li class="nav-item">
        <a routerLink="/org/task-schedule" class="nav-link" routerLinkActive="active">Scheduling</a>
      </li>

      <li class="nav-item">
        <a routerLink="/org/users" class="nav-link" routerLinkActive="active">Users</a>
      </li>

      <li class="nav-item">
        <a routerLink="/org/chats" class="nav-link" routerLinkActive="active">Chats</a>
      </li>

      <li class="nav-item">
        <a routerLink="/org/analysis" class="nav-link" routerLinkActive="active">Analysis</a>
      </li>

    </ul>
    
  </div>

  <!-- Projects dropdown -->
  <div class="col-md-3">
    <ul class="navbar-nav" style="width: 100%;">
      <li class="centered-full-width" *ngIf="isAuthenticated">

        <form class="pmp-compact" [formGroup]="headerForm" (ngSubmit)="onSubmit()">
          <select id="selectedProject" name="selectedProject" [formControlName]="['selectedProject']" #projectCB class="form-control form-control-sm" (change)="onProjectSelected($event)" placeholder="No Project Selected!">
            <option [ngValue]="null" [disabled]="true">No Project Selected!</option>
            <option *ngFor="let project of projects" [ngValue]="project.id" value="{{project.id}}" [selected]="isProjectSelected(project.id)" >  <!--   -->
              {{ project.name  | slice:0:75 }}<span *ngIf="project.name.length > 75"> ...</span>
            </option>
          </select>
        </form>

      </li>
    </ul>
  </div>

  <!-- Username display -->
  <div class="col-md-2">
    <ul class="navbar-nav" style="width: 100%;">
      <li class="centered-full-width" *ngIf="isAuthenticated">
        <div class="sml-white-text">Welcome {{ authenticatedUser.name }}</div>
    </li>
  </ul>
</div>

<!-- Login/Logout button -->
  <div class="col-md-1">
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!isAuthenticated">
        <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>


</nav>

