<!-- **************** MAIN MENU-BAR OPTIONS **************** -->

<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top redbox">

  <div class="col-md-6">
      <ul class="navbar-nav greybox">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Projects
        </a>
        <div class="dropdown-menu" >
          <a class="dropdown-item" *ngFor="let project of projects | async"  (click)="onProjectSelected(project)">{{project.name}}</a>
        </div>
      </li>

      <li class="nav-item">
        <a routerLink="/projects/tasks" class="nav-link" routerLinkActive="active">Tasks</a>
      </li>

      <li class="nav-item">
        <a routerLink="/projects/task-deps" class="nav-link" routerLinkActive="active">Dependencies</a>
      </li>

      <li class="nav-item">
        <a routerLink="/projects/users" class="nav-link" routerLinkActive="active">Users</a>
      </li>

      <li class="nav-item">
        <a routerLink="/projects/chats" class="nav-link" routerLinkActive="active">Chats</a>
      </li>

      <li class="nav-item">
        <a routerLink="/projects/mentions" class="nav-link" routerLinkActive="active">Mentions</a>
      </li>

      <li class="nav-item">
        <a routerLink="/projects/analysis" class="nav-link" routerLinkActive="active">Analysis</a>
      </li>

    </ul>
    
  </div>

  <div class="col-md-3 bluebox">
    <ul class="navbar-nav greybox">
      <li class="redbox" style="vertical-align: middle; text-align: center;" *ngIf="isAuthenticated">
          <div style="padding-left: 50px; font-size:smaller; vertical-align: middle; color: white;" *ngIf="!selectedProject">No Project currently selected!</div>
          <div style="padding-left: 50px; font-size:smaller; vertical-align: middle; color: white;" *ngIf="selectedProject">Current Project: <b>{{ selectedProject.name }}</b></div>
      </li>
    </ul>
  </div>

  <div class="col-md-2 redbox">
    <ul class="navbar-nav greybox">
      <li class="greybox" style="vertical-align: middle; text-align: center;" *ngIf="isAuthenticated">
        <div style="font-size:smaller;color: white;">Welcome {{ authenticatedUser.name }}</div>
    </li>
  </ul>
</div>

  <div class="col-md-1 bluebox">
    <ul class="navbar-nav navbar-right greybox">
      <li *ngIf="!isAuthenticated">
        <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>


</nav>

