<div class="row">

  <div class="col-md-4">
    <form class="pmp-compact" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <p>Chart filters</p>

      <!-- Projects Filter -->
      <div class="form-group">
        <label class="small font-weight-bold" for="project">Filter by Project</label>
        <select name="project" formControlName="project" class="form-control form-control-sm" (change)="onSubmit()">
          <option [ngValue]="null">No Project Filter</option>
          <option *ngFor="let project of projects | async" [ngValue]="project.id">
            {{ project.name  | slice:0:75 }}<span *ngIf="project.name.length > 75"> ...</span>
          </option>
        </select>
      </div>

      <!-- Extended Search to return all task status counts -->
      <div class="form-group">
        <label class="form-check-label small font-weight-bold" for="extendedSearch">Return ALL Task Status counts?</label>
        <input class="form-check-input" type="checkbox" id="extendedSearch" name="extendedSearch" formControlName="extendedSearch" 
                style="margin-left: 10px;" (click)="onToggleExtendedSearch()" (change)="onSubmit()">
      </div>

      <!-- Toggle Date Filters -->
      <div class="form-group">
        <label class="form-check-label small font-weight-bold" for="filterDates">Filter by Date?</label>
        <input class="form-check-input" type="checkbox" id="filterDates" name="filterDates" formControlName="filterDates" 
                style="margin-left: 10px;" (click)="onToggleDateFilter()">
      </div>

      <!-- Start Date -->
      <div class="form-group" *ngIf="taskForm.value.filterDates">
        <label class="small font-weight-bold" for="startDate">Filter from</label>
        <div class="clearfix">
        <input matInput [matDatepicker]="startDate" [formControlName]="['startDate']" class="form-control float-left form-control-sm" style="width: 85%;" placeholder="Filter from" (focus)="startDate.open()">
        <mat-datepicker-toggle matSuffix [for]="startDate" class="float-right"></mat-datepicker-toggle>
        <mat-datepicker #startDate startView="month"></mat-datepicker>
        </div>
      </div>

      <!-- End Date -->
      <div class="form-group" *ngIf="taskForm.value.filterDates">
        <label class="small font-weight-bold" for="endDate">Filter to</label>
        <div class="clearfix">
        <input matInput [matDatepicker]="endDate" [formControlName]="['endDate']" class="form-control float-left form-control-sm" style="width: 85%;" placeholder="Filter to" (focus)="endDate.open()">
        <mat-datepicker-toggle matSuffix [for]="endDate" class="float-right"></mat-datepicker-toggle>
        <mat-datepicker #endDate startView="month" ></mat-datepicker>
        </div>
      </div>

      <button class="btn btn-primary btn-sm" type="submit" [disabled]="!taskForm.get('startDate').valid || !taskForm.get('endDate').valid"
        *ngIf="taskForm.value.filterDates">Apply Date Filters
      </button>

    </form>
  </div>

  <div class="col-md-8">
    <ngx-charts-bar-vertical-stacked
    [view]="view"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [animations]="animations"
    (select)="onSelect($event)">
    </ngx-charts-bar-vertical-stacked>  
  </div>

</div>
