<div *ngIf="!currentTask">
    <div class="row" >
        <div class="col-md-12">
            <p>Please select a Task to view the content</p>
        </div>
    </div>
</div>
<div  *ngIf="currentTask">
    <div class="row" >
        <div class="col-md-12 clearfix">
            <button class="btn btn-info float-right" (click)="onAddTask()">Add Task</button>
            <button class="btn btn-warning float-right" (click)="onEditTask()">Edit Task</button>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-12">
            <h5>{{currentTask.text}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>{{currentTask.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>{{currentTask.status.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>{{currentTask.priority.level}}</p>
        </div>
    </div>

</div>