<div *ngIf="!currentTask">
    <div class="row" >
        <div class="col-md-12">
            <p>Please select a Task to view the content</p>
        </div>
    </div>
</div>

<div class="fit-half-panel-width pmp-compact" *ngIf="currentTask">
    <div class="row" >
        <div class="col-md-12 clearfix">
            <button class="btn btn-info float-right btn-sm" (click)="onAddTask()">Add Task</button>
            <p class="small-pad-left float-right"></p>
            <button class="btn btn-warning float-right btn-sm" (click)="onEditTask()">Edit Task</button>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-12">
            <h5>{{currentTask.text}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>{{currentTask.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span class="bold-title float-left">Status </span> <p class="float-left small-pad-left">{{currentTask.status.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span class="bold-title float-left">Priority</span><p class="float-left small-pad-left">{{currentTask.priority.level}}</p>
        </div>
    </div>

    <app-task-events-list [taskItem]="currentTask"></app-task-events-list>

    <!-- <div class="row">
        <div class="col-md-12">
            <app-task-events-list [taskItem]="currentTask"></app-task-events-list>
        </div>
    </div> -->

</div>