<div class="pmp-compact fit-half-panel-width list-group-item" >

    <div class="row" >
        <div class="col-md-12 clearfix">
            <button class="btn btn-warning float-right btn-sm" (click)="onAddUser()">Add User</button>
        </div>
    </div>

    <hr>

    <div class="row" >
        <div class="col-md-12" style="margin-bottom: 30px;">
            <h4>Welcome to the Users section.</h4>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-12">
            <h6>Please select a User from the list on the left, or Add a User to begin</h6>
        </div>
    </div>

</div>