<div class="pmp-compact fit-half-panel-width list-group-item">

    <div class="row" >
        <div class="col-md-12 clearfix">
            <button class="btn btn-warning float-right btn-sm" (click)="onAddTask()">Add Task</button>
        </div>
    </div>

    <hr>

    <div class="row" >
        <div class="col-md-12" style="margin-bottom: 30px;">
            <h4>Welcome to the Tasks section.</h4>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-12">
            <h6>Please select a Task from the list on the left, or Add a Task to begin</h6>
        </div>
    </div>

</div>